
div.table-responsive{
 margin:0% 10% 0% 10% ;
}

 div.container-fluid{
    padding: 5% 10% 10% 10%;
} 
div.container{    
    background: rgba(0, 129, 182, 0.7);
    padding: 10%;
}
.col-sm-10{
    padding:0% 30% 0% 0% 
}
.marcas{
    background-color: rgba(34, 34, 34, 0.835);
}
p.text-monospace {
    color: rgb(202, 198, 198);
}
.navbar{
    padding: 2% 10% 5% 10%;
    
}
.logo1 img {
   width: 50%;
   padding-left: 10%;
  }
figure.logo {
width: 43%;
}

figure.logo img {
padding-top: 10px;
width: 100%;
}
@media (min-width: 1100px) {
    .marcas{
        padding-left: 25%;
    }
    div.container{    
        padding: 5%;
    }
    .logo1 img {
        width: 20%;
        padding-left: 10%;
       }
    .navbar{
        padding: 0% 10% 2% 10%;
        
    }
 }
 