
div.table-responsive{
 margin:0% 10% 0% 10% ;
}

.col-sm-10{
    padding:0% 30% 0% 0% 
}
.marcas{
    background-color: rgba(34, 34, 34, 0.835);
}
p.text-monospace {
    color: rgb(202, 198, 198);
}
.logo1 img {
   width: 50%;
   padding-left: 10%;
  }
figure.logo {
width: 43%;
}
figure{
    background-color: black
}

figure.logo img {
padding-top: 10px;
width: 100%;
}
ul.pagination{
    position: fixed;
    bottom: 0;  /* At the bottom. */
      
    left: 50%;
    transform: translate(-50%, 0);

}
.cont-load{
    padding: 5% 5% 5% 5%;
}
.cont-comm{
    padding: 5% 10% 10% 10%;
}
@media (min-width: 1100px) {
    .marcas{
        padding-left: 25%;
    }
    div.container{    
        padding: 5%;
    }
    .logo1 img {
        width: 20%;
        padding-left: 10%;
       }

 }
 